<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/js/jquery.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css"/>
<body>
<table class="table table-condensed">
    <caption>精简表格布局</caption>
    <thead>
    <tr>
        <th>名称</th>
        <th>城市</th>
        <th>邮编</th></tr>
    </thead>
    <tbody>
    <tr>
        <td>Tanmay</td>
        <td>Bangalore</td>
        <td>560001</td></tr>
    <tr>
        <td>Sachin</td>
        <td>Mumbai</td>
        <td>400003</td></tr>
    <tr>
        <td>Uma</td>
        <td>Pune</td>
        <td>411027</td></tr>
    </tbody>
</table>
</body>
</html>