<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/alert.js}"></script>
</head>
<body>
<div class="container">
    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>多选</th>
                <th>订单号</th>
                <th>商品</th>
                <th>单价</th>
                <th>数量</th>
                <th>总价</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order:${allorder}">
                <td ><input type="checkbox" aria-label="..."></td>
                <td th:text="${order.getOrderId()}">1</td>
                <td>
                    <div><strong th:text="${order.getGoodName()}">尚都比拉2013冬装新款女装 韩版修身呢子大衣 秋冬气质羊毛呢外套</strong>
                    </div>
                </td>
                <td th:text="'￥'+${order.price}" >26.00</td>
                <td th:text="${order.getCount()}">1</td>
                <td th:text="'￥'+${order.getPriceTotal()}">26.00</td>

                <th:block th:if="${order.getStatus()==0}">
                    <td >未支付</td>
                    <td ><a role="button">------</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==1}">
                    <td >已支付</td>
                    <td ><a role="button" th:onclick="changeorderstatus([[${order.getOrderId()}]])" >发货</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==2}">
                    <td >已发货</td>
                    <td ><a role="button" th:onclick="changeorderstatus([[${order.getOrderId()}]])">卖家退货</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==3}">
                    <td >已收货</td>
                    <td ><a role="button" th:onclick="changeorderstatus([[${order.getOrderId()}]])" >完成</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==4}">
                    <td >已关闭</td>
                    <td ><a role="button" th:onclick="changeorderstatus([[${order.getOrderId()}]])" >删除</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()<0}">
                    <td >退货申请</td>
                    <td ><a role="button" th:onclick="agree([[${order.getOrderId()}]])" >同意</a>  <a role="button" th:onclick="refuse([[${order.getOrderId()}]])" >拒绝</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==200}">
                    <td >退货达成</td>
                    <td ><a role="button"  th:onclick="changeorderstatus([[${order.getOrderId()}]])">删除</a></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</div>
</body>
</footer>
</html>