<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/alert.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<style>
    #pagebar{
        text-align: center;
    }
</style>
<body>
<div class="container">
    <table class="table table-condensed">
        <caption>账户角色表</caption>
        <thead>
        <tr>
            <th>用户名</th>
            <th>类型</th>
            <th:block th:each="role:${roleList}">
                <th th:text="${role.getName()}"></th>
            </th:block>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account:${page.list}">
            <td th:text="${account.getUsername()}">用户名</td>
<!--            类型-->
            <th:block th:if="${account.getType()}==1">
                <td >买家</td>
            </th:block>
            <th:block th:if="${account.getType()}==2">
                <td>卖家</td>
            </th:block>
            <th:block th:if="${account.getType()}==3">
                <td>超级管理员</td>
            </th:block>
            <th:block th:if="${account.getType()}==4">
                <td>管理员</td>
            </th:block>
            <!--角色-->
            <th:block th:each="role:${roleList}">
                <td>
                    <a role="button" th:if="${account.getRoleList().contains(role)}" th:onclick="role_distribution([[${account.getUsername()}]],[[${role.getId()}]])">拥有</a>
                    <a role="button" th:unless="${account.getRoleList().contains(role)}" th:onclick="role_distribution([[${account.getUsername()}]],[[${role.getId()}]])">未拥有</a>
                </td>
            </th:block>

<!--            <td><a role="button" th:onclick="changeaccountstatus([[${account.getUsername()}]])">提交</a></td>-->
        </tr>
        </tbody>
    </table>
    <nav style="padding-top: 350px" aria-label="Page navigation" id="pagebar" th:if="${page.pageTotal!=0}">
        <ul class="pagination pagination-lg">
            <!--        上一页按钮-->
            <li th:if="${page.currentPage!=1}">
                <a th:href="@{'?page='+${page.currentPage-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:unless="${page.currentPage!=1}" class="disabled">
                <span aria-hidden="true">&laquo;</span>
            </li>


            <!--        前几页-->
            <li th:each="i:${#numbers.sequence(1,(page.currentPage)-1)}" th:if="${page.currentPage!=1}">
                <a th:href="@{'?page='+${i}}" th:text="${i}"></a>
            </li>
            <!--当前页-->
            <li class="active">
                <span th:text="${page.currentPage}"></span>
            </li>
            <!--后几页-->
            <li th:each="i2:${#numbers.sequence(page.currentPage+1,page.pageTotal)}" th:if="${page.currentPage!=page.pageTotal}">
                <a th:href="@{'?page='+${i2}}" th:text="${i2}"></a>
            </li>

            <!--        下一页按钮-->
            <li th:if="${page.currentPage!=page.pageTotal}">
                <a th:href="@{'?page='+${page.currentPage+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li th:unless="${page.currentPage!=page.pageTotal}" class="disabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>