<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/alert.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css"/>
<style>
    #pagebar{
        text-align: center;
    }
</style>
<body>
<div class="container">
    <table class="table table-condensed">
        <caption>商品类型</caption>
        <thead>
        <tr>
            <th>id</th>
            <th>分类名称</th>
            <th>状态</th>
            <th>#</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="types:${page.list}">
            <td th:text="${types.getId()}">id</td>
            <td th:text="${types.getTag()}">分类名称</td>
<!--            状态-->
            <th:block th:if="${types.getIsAvailable()}">
                <td><a role="button" th:onclick="change_type_status([[${types.getId()}]])">可用</a></td>
            </th:block>
            <th:block th:unless="${types.getIsAvailable()}">
                <td><a role="button" th:onclick="change_type_status([[${types.getId()}]])">不可用</a></td>
            </th:block>
            <td><a role="button" th:onclick="deltype([[${types.getId()}]])">删除</a></td>
        </tr>
        </tbody>
    </table>
    <nav style="padding-top: 350px" aria-label="Page navigation" id="pagebar" th:if="${page.pageTotal!=0}">
        <ul class="pagination pagination-lg">
            <!--        上一页按钮-->
            <li th:if="${page.currentPage!=1}">
                <a th:href="@{'?page='+${page.currentPage-1}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:unless="${page.currentPage!=1}" class="disabled">
                <span aria-hidden="true">&laquo;</span>
            </li>


            <!--        前几页-->
            <li th:each="i:${#numbers.sequence(1,(page.currentPage)-1)}" th:if="${page.currentPage!=1}">
                <a th:href="@{'?page='+${i}}" th:text="${i}"></a>
            </li>
            <!--当前页-->
            <li class="active">
                <span th:text="${page.currentPage}"></span>
            </li>
            <!--后几页-->
            <li th:each="i2:${#numbers.sequence(page.currentPage+1,page.pageTotal)}" th:if="${page.currentPage!=page.pageTotal}">
                <a th:href="@{'?page='+${i2}}" th:text="${i2}"></a>
            </li>

            <!--        下一页按钮-->
            <li th:if="${page.currentPage!=page.pageTotal}">
                <a th:href="@{'?page='+${page.currentPage+1}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li th:unless="${page.currentPage!=page.pageTotal}" class="disabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>