<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <!--    <script src="https://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>-->
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>
    <script th:src="@{/js/alert.js}"></script>
    <style>
        .thumbnail img{
            width: 300px;
            height: 200px;
        }
        #pagebar{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <div th:replace="header"></div>
    <div th:if="${page.pageTotal==0}">
        <strong>
            对不起，暂无就绪或开展的活动。
        </strong>
    </div>

    <ul class="list-group">
        <th:block th:each="activities:${page.list}">
            <li class="list-group-item">
                <th:block th:if="${activities.getStatus()==5}">
                    <a th:href="'/seckill/goodslist?activitiesId='+${activities.getId()}" th:text="'活动'+${activities.getId()} + '  从'+${activities.getStartDatetimeStr()}+'持续到'+${activities.getEndDatetimeStr()}"></a>

                </th:block>
                <th:block th:if="${activities.getStatus()==4}">
                    <a style="color: #5e5e5e" href="#" th:text="'活动'+${activities.getId()} + '  从'+${activities.getStartDatetimeStr()}+'持续到'+${activities.getEndDatetimeStr()}+'(正在准备)'"></a>
                </th:block>
            </li>
        </th:block>

    </ul>

    <nav aria-label="Page navigation" id="pagebar" th:if="${page.pageTotal!=0}">
        <ul class="pagination pagination-lg">
            <!--        上一页按钮-->
            <li th:if="${page.currentPage!=1}">
                <a th:href="@{'?page='+${page.currentPage-1}+'&typeId='+${typeId}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:unless="${page.currentPage!=1}" class="disabled">
                <span aria-hidden="true">&laquo;</span>
            </li>


            <!--        前几页-->
            <li th:each="i:${#numbers.sequence(1,(page.currentPage)-1)}" th:if="${page.currentPage!=1}">
                <a th:href="@{'?page='+${i}+'&typeId='+${typeId}}" th:text="${i}"></a>
            </li>
            <!--当前页-->
            <li class="active">
                <span th:text="${page.currentPage}"></span>
            </li>
            <!--后几页-->
            <li th:each="i2:${#numbers.sequence(page.currentPage+1,page.pageTotal)}" th:if="${page.currentPage!=page.pageTotal}">
                <a th:href="@{'?page='+${i2}+'&typeId='+${typeId}}" th:text="${i2}"></a>
            </li>

            <!--        下一页按钮-->
            <li th:if="${page.currentPage!=page.pageTotal}">
                <a th:href="@{'?page='+${page.currentPage+1}+'&typeId='+${typeId}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            <li th:unless="${page.currentPage!=page.pageTotal}" class="disabled">
                <span aria-hidden="true">&raquo;</span>
            </li>
        </ul>
    </nav>

</div>
</body>
<footer th:replace="footer"></footer>
</html>