<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/alert.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{header.html::hearder}"></div>
    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>清单</th>
                <th>数量</th>
                <th>单价</th>
                <th>总价</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item:${cart.getCartListVoList()}">
                <td>
                    <div th:if="${item.getIsSell()}"><strong th:text="${item.getGoodName()}">尚都比拉2013冬装新款女装 韩版修身呢子大衣 秋冬气质羊毛呢外套</strong>
                    </div>
                    <div th:unless="${item.getIsSell()}"><s th:text="'【已下架】'+${item.getGoodName()}">尚都比拉2013冬装新款女装 韩版修身呢子大衣 秋冬气质羊毛呢外套</s>
                    </div>
                </td>
                <td th:text="${item.getCount()}">1</td>
                <td th:text="'￥'+${item.getPrice()}">26.00</td>
                <td th:text="'￥'+${item.getPriceTotal()}">31,98</td>
                <td><a role="button" th:onclick="deletegood([[${item.getGoodId()}]])">删除</a> </td>
            </tr>

            </tbody>
        </table>
    </div>
    <!-- /table-responsive -->

    <table class="table invoice-total">
        <tbody>
        <tr>
            <td><strong>总价：</strong>
            </td>
            <td th:text="'￥'+${cart.getFirstPrice()}">&yen;1026.00</td>
        </tr>
        <tr>
            <td><strong>折扣：</strong>
            </td>
            <td th:text="'￥'+${cart.getDiscount()}">&yen;-10</td>
        </tr>
        <tr>
            <td><strong>总计</strong>
            </td>
            <td th:text="'￥'+${cart.getPriceTotal()}">&yen;1261.98</td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <button class="btn btn-primary"><i class="fa fa-dollar"></i> 去付款</button>
    </div>

    <div class="well m-t"><strong>注意：</strong> 请在30日内完成付款，否则订单会自动取消。
    </div>
</div>

</div>
</body>
</html>