<style>
    #footer a{
        font-size: large;
        color: #ffffff;
        padding-left: 15px;
    }
    #footer p{
        font-size: large;
        color: #ffffff;
    }
</style>
<footer id="footer">
    <div style="background-color: #3c3c3c">
        <br>
        <br>
        <a href="https://github.com/xiangdajiangjun/seckill">GitHub 仓库</a>
        <a href="http://localhost:8082">管理入口</a>
        <a href="http://localhost:8081">卖家入口</a>
        <a href="/../about/">关于</a>
        <br><br>
        <p>&emsp;&emsp;&emsp;&emsp;项目作者：xiang</p>
        <p>&emsp;&emsp;&emsp;&emsp;联系方式：<strong>QQ </strong>512109359</p>
        <br><br>
    </div>
</footer>