<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>订单列表</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}" ></script>

    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <script th:src="@{/js/alert.js}"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{header.html::hearder}"></div>
    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
            <tr>
                <th>多选</th>
                <th>订单号</th>
                <th>商品</th>
                <th>单价</th>
                <th>数量</th>
                <th>总价</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order:${allorder}">
                <td ><input type="checkbox" aria-label="..."></td>
                <td th:text="${order.getOrderId()}">1</td>
                <td>
                    <div><strong th:text="${order.getGoodName()}">尚都比拉2013冬装新款女装 韩版修身呢子大衣 秋冬气质羊毛呢外套</strong>
                    </div>
                </td>
                <td th:text="'￥'+${order.price}" >26.00</td>
                <td th:text="${order.getCount()}">1</td>
                <td th:text="'￥'+${order.getPriceTotal()}">26.00</td>

                <th:block th:if="${order.getStatus()==0}">
                    <td >未支付</td>
                    <td ><a role="button" th:onclick="changeorderstatus([[${order.getOrderId()}]])" >去支付</a>&ensp;<a th:onclick="return_goods([[${order.getOrderId()}]])" role="button" >取消订单</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==1}">
                    <td >已支付</td>
                    <td ><a role="button" th:onclick="return_goods([[${order.getOrderId()}]])" >申请退款</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==2}">
                    <td >已发货</td>
                    <td ><a role="button" th:onclick="changeorderstatus([[${order.getOrderId()}]])">收货</a>&ensp;<a role="button" th:onclick="return_goods([[${order.getOrderId()}]])" >申请退款</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==3}">
                    <td >已完成</td>
                    <td ><a role="button" th:onclick="return_goods([[${order.getOrderId()}]])" >申请退货</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==4}">
                    <td >已关闭</td>
                    <td ><a role="button" th:href="@{'/order/delete?orderId='+${order.getOrderId()}}" >删除订单</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()<0}">
                    <td >待商家同意申请</td>
                    <td ><a role="button" th:onclick="return_goods([[${order.getOrderId()}]])" >取消申请</a></td>
                </th:block>
                <th:block th:if="${order.getStatus()==200}">
                    <td >退货达成</td>
                    <td ><a role="button">-----</a></td>
                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well m-t"><strong>注意：</strong> 未付款订单请在15分钟内完成付款，否则订单会取消。</div>
</div>

</div>
</body>

<footer th:replace="~{footer.html}">

</footer>
</html>